.header_top_container {
    width: 1200px;
    margin: 0 auto;
}

.header_top {
    min-width: 1200px;
    height: 40px;
    background: #f8f8f8;
    border-bottom: 1px solid #ebebeb;
}

.header_top_home {
    float: left;
}

.header_top a {
    line-height: 40px;
    color: #333333;
}

.header_top .header_top_login {
    color: red;
}

.header_top_menu {
    float: right;
}

.header_top_menu li {
    float: left;
    padding-left: 22px;
}

.header_top_container:after {
    content: '';
    display: block;
    clear: both;
}

.header_search_container {
    min-width: 1200px;
    background: #fff;
}

.search_container {
    width: 1200px;
    margin: 0 auto;
}

.header_search_logo {
    float: left;
}

.header_search_code {
    float: right;
}

.header_search_content {
    float: left;
    width: 434px;
    height: 44px;
    text-align: center;
    padding: 30px;
}

.header_search_content>input {
    float: left;
}

.header_search_content>input:first-child {
    width: 85%;
    height: 44px;
    border: #fb3434 2px solid;
    outline: none;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    padding: 0 15px;
}

.header_search_content>input:last-child {
    width: 15%;
    height: 44px;
    background: #fb3434;
    outline: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    box-sizing: border-box;
}